.test{
    background-image: url("https://i.ibb.co/VxGf2Pd/businessman-hold-3d-plus-icon-man-hold-hand-offer-positive-thing-such-as-profit-benefits-development.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}